/* App.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #111; /* Dark background color */
  color: white;
}

.app-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #222; /* Dark background color */
}

/* App header */
.head {
  font-size: 32px;
  font-weight: bold;
  color: #fff;
  margin: 10px 0;
  text-align: center;
}

/* Show previews */
.show-preview {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.show-preview img {
  width: 100%;
  height: 300px; /* Set a fixed height for the image container */
  object-fit: contain; /* Ensure the entire image is visible */
  margin-bottom: 10px; /* Add some spacing between the image and other content */
  border-radius: 10px;
}

.show-preview h2 {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 8px;
}

.show-preview p {
  font-size: 16px;
  color: #ddd;
  margin-bottom: 6px;
}

.show-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.add-to-favorites,
.play-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  color: #fff;
  transition: background-color 0.2s ease-in-out;
}

.add-to-favorites {
  background-color: #007bff;
}

.add-to-favorites:hover {
  background-color: #0056b3;
}

.play-button {
  background-color: #28a745;
}

.play-button:hover {
  background-color: #218838;
}

/* seasons styling*/

/* Add styles for the image in the season */
.showImg {
  width: 50%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

/* Add styles for the seasons container */
.episodes-container button {
  display: block;
  width: 100%;
  padding: 10px 20px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 10px; 
}


.episodes-container button:hover {
  background-color: #d32f2f;
}

.episodes-container > div {
  width: calc(33.33% - 20px); /* Adjust the width to your preference */
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.image-- button {
  display: block;
  width: 100%;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


.image-- button:hover {
  background-color: #45a049;
}






/* Podcast details */
.p-Title {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  margin: 10px 0;
}

.podcast-item2,
.podcast-item3,
.podcast-item4,
.podcast-item5 {
  font-size: 16px;
  color: #ddd;
  margin-bottom: 5px;
}

/* Navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px;
  color: white;
}

nav input[type="text"],
nav select {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #444;
  color: #ddd;
}

nav input[type="text"] {
  width: 200px;
}

nav button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
}

nav button:hover {
  background-color: #0056b3;
}

.nav-center {
  display: flex;
  align-items: center;
}

.nav-center select {
  margin-left: 10px;
}



.show-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
/* button styling */


.View-seasons,
.favorites {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  color: #fff;
  transition: background-color 0.2s ease-in-out;
}

.View-seasons {
  background-color: #007bff;
}

.View-seasons:hover {
  background-color: #0056b3;
}

.favorites {
  background-color: #28a745;
}

.favorites:hover {
  background-color: #218838;
}
/* Media Queries */
/* Larger mobile devices (480px - 767px) */
@media (min-width: 480px) and (max-width: 767px) {
  .show-preview img {
    height: 250px; /* Adjust the height for larger mobile devices */
  }

  .show-preview h2 {
    font-size: 20px;
  }

  .show-preview p {
    font-size: 14px;
  }

  .add-to-favorites,
  .play-button {
    font-size: 14px;
    padding: 8px 16px;
  }
}

/* Mobile devices (up to 479px) */
@media (max-width: 479px) {
  .show-preview img {
    height: 200px; /* Adjust the height for smaller mobile devices */
  }

  .show-preview h2 {
    font-size: 18px;
  }

  .show-preview p {
    font-size: 12px;
  }

  .add-to-favorites,
  .play-button {
    font-size: 12px;
    padding: 8px 12px;
  }
}


  
/*carousel*/
.hero-section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.carousel-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  max-width: 1000px;
}
.show-info {
  display: flex;
  transition: transform 0.3s ease-in-out;
}
.carousel-slide {
  width: 200px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.carousel-slide img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}
.arrow-icon {
  font-size: 40px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.backward {
  left: 10px;
}
.forward {
  right: 10px;
